{% extends "base.html" %}

{% block content %}
        <h1>Dessert</h1>
        <div id="gallery">
        <figure>
          <header class="heading">Dessert Menu</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a href="#"><img src=/static/dessert1.jpg></a></li>
            <li class="one_quarter"><a href="#"><img src=/static/dessert2.jpg></a></li>
            <li class="one_quarter"><a href="#"><img src=/static/dessert3.jpg></a></li>
            <li class="one_quarter"><a href="#"><img src=/static/dessert4.jpg></a></li>
            <li class="one_quarter first"><a href="#"><img src=/static/dessert5.jpg></a></li>
            <li class="one_quarter"><a href="#"><img src=/static/dessert6.jpg></a></li>
          </ul>
          <figcaption>Gallery Description Goes Here</figcaption>
        </figure>
      </div>
{% endblock %}